################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Linear/bin
/src/Linear/obj
/test/Linear/ClientFirstDesign/bin
/test/Linear/ClientFirstDesign/obj
/test/Linear/UnitTest/bin
/test/Linear/UnitTest/obj
