################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Linear/bin
/src/Linear/obj
/test/DataStructure/Linear/ClientFirstDesign/bin
/test/DataStructure/Linear/ClientFirstDesign/obj
/test/DataStructure/Linear/UnitTest/bin
/test/DataStructure/Linear/UnitTest/obj
/src/DataStructure/Linear/obj
/src/DataStructure/Linear/bin
/test/Linear/ClientFirstDesign/bin/Debug/net6.0
/test/Linear/ClientFirstDesign/obj
/test/Linear/UnitTest/bin/Debug/net6.0
/test/Linear/UnitTest/obj
