################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Linear/bin/Debug/net6.0
/src/Linear/obj/Debug/net6.0
